@import './ant-design-vars.less';

.loop (@index) when (@index > 0) {
  .m-t-@{index} {
    margin-top: 1px * @index;
  }
  .m-r-@{index} {
    margin-right: 1px * @index;
  }
  .m-b-@{index} {
    margin-bottom: 1px * @index;
  }
  .m-l-@{index} {
    margin-left: 1px * @index;
  }
  .p-t-@{index} {
    padding-top: 1px * @index;
  }
  .p-r-@{index} {
    padding-right: 1px * @index;
  }
  .p-b-@{index} {
    padding-bottom: 1px * @index;
  }
  .p-l-@{index} {
    padding-left: 1px * @index;
  }
  .w-@{index} {
    width: 1px * @index;
  }
  .h-@{index} {
    height: 1px * @index;
  }
  .loop(@index - 1);
}
.loop(100);

p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.text-primary {
  color: @primary-color;
}

.icon-button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  user-select: none;
  &:hover {
    opacity: 1;
  }
  & + .icon-button {
    margin-left: 24px;
  }
}

.text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.no-padding {
  padding: 0 !important;
}

.btn-icon-add {
  width: 21px;
  height: 21px;
}

.btn-text-add {
  margin-left: 6px;
  line-height: 21px;
}

.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}

.ant-modal-footer {
  padding: 16px;
  background-color: #f7f7f7;
  & > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 164px;
    margin: auto;
  }
  .ant-btn {
    padding: 8px 16px;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #666666;
    &.ant-btn-primary {
      background-color: #f60f0f;
      color: #fff;
      &[disabled] {
        background: #f7f7f7;
        border-radius: 2px;
        border: 1px solid #d8d8d8;
        color: #3c3c3c;
      }
    }
  }
}

.ant-upload-list-item:hover .ant-upload-list-item-info,
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover,
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled),
.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background-color: #f1f1f1;
}

.ant-modal-confirm .ant-modal-confirm-btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 150px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
